---
const name = 'Benjamin Bergstrom';
const skills = ['Laravel', 'NodeJS', 'JavaScript', 'ReactJS', 'Git', 'Astro'];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
        <style>
            h1 {
                color: purple;
                font-size: 4rem;
            }
        </style>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>

        <h1>About Me</h1>
        <p>My name is {name}</p>

        <h2>Skills</h2>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        <p>PS I am gay</p>
    </body>
</html>
