---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
    <p>Articles</p>

    <ul>
        <li><a href="/posts/post-1">First Post</a></li>
        <li><a href="/posts/post-2">Second Post</a></li>
    </ul>
</BaseLayout>
